@font-face {
	font-family: 'frontkit';
	src:url('fonts/frontkit.eot?g8wzhe');
	src:url('fonts/frontkit.eot?#iefixg8wzhe') format('embedded-opentype'),
		url('fonts/frontkit.woff?g8wzhe') format('woff'),
		url('fonts/frontkit.ttf?g8wzhe') format('truetype'),
		url('fonts/frontkit.svg?g8wzhe#frontkit') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'frontkit';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
	content: "\f0a3";
}
.icon-chevron-left:before {
	content: "\f0a4";
}
.icon-chevron-right:before {
	content: "\f078";
}
.icon-chevron-up:before {
	content: "\f0a2";
}
.icon-email:before {
	content: "\f03b";
}
.icon-home:before {
	content: "\e600";
}
.icon-office:before {
	content: "\e601";
}
.icon-newspaper:before {
	content: "\e602";
}
.icon-pencil:before {
	content: "\e603";
}
.icon-droplet:before {
	content: "\e604";
}
.icon-image:before {
	content: "\e605";
}
.icon-camera:before {
	content: "\e606";
}
.icon-music:before {
	content: "\e607";
}
.icon-headphones:before {
	content: "\e608";
}
.icon-film:before {
	content: "\e609";
}
.icon-video-camera:before {
	content: "\e60a";
}
.icon-bullhorn:before {
	content: "\e60b";
}
.icon-connection:before {
	content: "\e60c";
}
.icon-books:before {
	content: "\e60d";
}
.icon-library:before {
	content: "\e60e";
}
.icon-file:before {
	content: "\e60f";
}
.icon-files:before {
	content: "\e610";
}
.icon-copy:before {
	content: "\e612";
}
.icon-paste:before {
	content: "\e613";
}
.icon-stack:before {
	content: "\e616";
}
.icon-folder:before {
	content: "\e617";
}
.icon-folder-open:before {
	content: "\e618";
}
.icon-tag:before {
	content: "\e619";
}
.icon-tags:before {
	content: "\e61a";
}
.icon-barcode:before {
	content: "\e61b";
}
.icon-qrcode:before {
	content: "\e61c";
}
.icon-ticket:before {
	content: "\e61d";
}
.icon-cart:before {
	content: "\e61e";
}
.icon-coin:before {
	content: "\e61f";
}
.icon-credit:before {
	content: "\e620";
}
.icon-support:before {
	content: "\e621";
}
.icon-phone:before {
	content: "\e622";
}
.icon-address-book:before {
	content: "\e623";
}
.icon-pushpin:before {
	content: "\e624";
}
.icon-location:before {
	content: "\e625";
}
.icon-compass:before {
	content: "\e626";
}
.icon-map:before {
	content: "\e627";
}
.icon-history:before {
	content: "\e628";
}
.icon-clock:before {
	content: "\e629";
}
.icon-alarm:before {
	content: "\e62a";
}
.icon-bell:before {
	content: "\e62b";
}
.icon-stopwatch:before {
	content: "\e62c";
}
.icon-calendar:before {
	content: "\e62d";
}
.icon-day:before {
	content: "\e62e";
}
.icon-print:before {
	content: "\e62f";
}
.icon-keyboard:before {
	content: "\e630";
}
.icon-screen:before {
	content: "\e631";
}
.icon-laptop:before {
	content: "\e632";
}
.icon-mobile:before {
	content: "\e633";
}
.icon-tablet:before {
	content: "\e635";
}
.icon-tv:before {
	content: "\e636";
}
.icon-cabinet:before {
	content: "\e637";
}
.icon-drawer:before {
	content: "\e638";
}
.icon-box-add:before {
	content: "\e639";
}
.icon-box-remove:before {
	content: "\e63a";
}
.icon-save:before {
	content: "\e63b";
}
.icon-storage:before {
	content: "\e63c";
}
.icon-flip-horizontal:before {
	content: "\e63d";
}
.icon-flip-vertical:before {
	content: "\e63e";
}
.icon-undo:before {
	content: "\e63f";
}
.icon-redo:before {
	content: "\e640";
}
.icon-forward:before {
	content: "\e641";
}
.icon-reply:before {
	content: "\e642";
}
.icon-comment:before {
	content: "\e643";
}
.icon-comments:before {
	content: "\e644";
}
.icon-user:before {
	content: "\e645";
}
.icon-businessman:before {
	content: "\e646";
}
.icon-quotes-left:before {
	content: "\e647";
}
.icon-busy:before {
	content: "\e648";
}
.icon-binoculars:before {
	content: "\e649";
}
.icon-search:before {
	content: "\e64a";
}
.icon-zoom-in:before {
	content: "\e64b";
}
.icon-zoom-out:before {
	content: "\e64c";
}
.icon-expand:before {
	content: "\e64d";
}
.icon-contract:before {
	content: "\e64e";
}
.icon-expand2:before {
	content: "\e64f";
}
.icon-contract2:before {
	content: "\e650";
}
.icon-key:before {
	content: "\e651";
}
.icon-lock:before {
	content: "\e652";
}
.icon-lock-locked:before {
	content: "\e653";
}
.icon-lock-unlocked:before {
	content: "\e654";
}
.icon-wrench:before {
	content: "\e655";
}
.icon-settings:before {
	content: "\e656";
}
.icon-equalizer:before {
	content: "\e657";
}
.icon-cogs:before {
	content: "\e658";
}
.icon-cog:before {
	content: "\e659";
}
.icon-wand:before {
	content: "\e65a";
}
.icon-aid:before {
	content: "\e65b";
}
.icon-bug:before {
	content: "\e65c";
}
.icon-pie:before {
	content: "\e65d";
}
.icon-stats:before {
	content: "\e65e";
}
.icon-bars:before {
	content: "\e65f";
}
.icon-bars-stacked:before {
	content: "\e660";
}
.icon-gift:before {
	content: "\e661";
}
.icon-trophy:before {
	content: "\e662";
}
.icon-glass:before {
	content: "\e663";
}
.icon-mug:before {
	content: "\e664";
}
.icon-food:before {
	content: "\e665";
}
.icon-leaf:before {
	content: "\e666";
}
.icon-rocket:before {
	content: "\e667";
}
.icon-meter:before {
	content: "\e668";
}
.icon-hammer:before {
	content: "\e669";
}
.icon-fire:before {
	content: "\e66a";
}
.icon-lab:before {
	content: "\e66b";
}
.icon-magnet:before {
	content: "\e66c";
}
.icon-remove:before {
	content: "\e66d";
}
.icon-trash-o:before {
	content: "\e66e";
}
.icon-briefcase:before {
	content: "\e66f";
}
.icon-airplane:before {
	content: "\e670";
}
.icon-truck:before {
	content: "\e671";
}
.icon-road:before {
	content: "\e672";
}
.icon-accessibility:before {
	content: "\e673";
}
.icon-target:before {
	content: "\e674";
}
.icon-shield:before {
	content: "\e675";
}
.icon-lightning:before {
	content: "\e676";
}
.icon-power:before {
	content: "\e677";
}
.icon-powercord:before {
	content: "\e678";
}
.icon-signup:before {
	content: "\e679";
}
.icon-list:before {
	content: "\e67a";
}
.icon-unordered-list:before {
	content: "\e67b";
}
.icon-numbered-list:before {
	content: "\e67c";
}
.icon-reorder:before {
	content: "\e67d";
}
.icon-menu:before {
	content: "\e67e";
}
.icon-tree:before {
	content: "\e67f";
}
.icon-cloud:before {
	content: "\e680";
}
.icon-cloud-download:before {
	content: "\e681";
}
.icon-cloud-upload:before {
	content: "\e682";
}
.icon-earth:before {
	content: "\e683";
}
.icon-link:before {
	content: "\e684";
}
.icon-flag:before {
	content: "\e685";
}
.icon-attachment:before {
	content: "\e686";
}
.icon-eye:before {
	content: "\e687";
}
.icon-eye-blocked:before {
	content: "\e688";
}
.icon-bookmark:before {
	content: "\e689";
}
.icon-bookmarks:before {
	content: "\e68a";
}
.icon-brightness:before {
	content: "\e68b";
}
.icon-brightness-contrast:before {
	content: "\e68c";
}
.icon-contrast:before {
	content: "\e68d";
}
.icon-star-o:before {
	content: "\e68e";
}
.icon-star-half-o:before {
	content: "\e68f";
}
.icon-star:before {
	content: "\e690";
}
.icon-heart:before {
	content: "\e691";
}
.icon-heart-o:before {
	content: "\e692";
}
.icon-heart-broken:before {
	content: "\e693";
}
.icon-thumbs-up:before {
	content: "\e694";
}
.icon-thumbs-down:before {
	content: "\e695";
}
.icon-warning:before {
	content: "\e696";
}
.icon-notification:before {
	content: "\e697";
}
.icon-question:before {
	content: "\e698";
}
.icon-info-o:before {
	content: "\e699";
}
.icon-info2:before {
	content: "\e69a";
}
.icon-blocked:before {
	content: "\e69b";
}
.icon-cancel-circle:before {
	content: "\e69c";
}
.icon-checkmark-circle:before {
	content: "\e69d";
}
.icon-spam:before {
	content: "\e69e";
}
.icon-close:before {
	content: "\e69f";
}
.icon-ok:before {
	content: "\e6a0";
}
.icon-ok-o:before {
	content: "\e6a1";
}
.icon-spell-check:before {
	content: "\e6a2";
}
.icon-minus:before {
	content: "\e6a3";
}
.icon-plus:before {
	content: "\e6a4";
}
.icon-enter:before {
	content: "\e6a5";
}
.icon-exit:before {
	content: "\e6a6";
}
.icon-play:before {
	content: "\e6a7";
}
.icon-pause:before {
	content: "\e6a8";
}
.icon-stop:before {
	content: "\e6a9";
}
.icon-backward:before {
	content: "\e6aa";
}
.icon-forward2:before {
	content: "\e6ab";
}
.icon-first:before {
	content: "\e6ac";
}
.icon-last:before {
	content: "\e6ad";
}
.icon-previous:before {
	content: "\e6ae";
}
.icon-next:before {
	content: "\e6af";
}
.icon-eject:before {
	content: "\e6b0";
}
.icon-volume-high:before {
	content: "\e6b1";
}
.icon-volume-medium:before {
	content: "\e6b2";
}
.icon-volume-low:before {
	content: "\e6b3";
}
.icon-volume-muted:before {
	content: "\e6b4";
}
.icon-volume-mute:before {
	content: "\e6b5";
}
.icon-volume-increase:before {
	content: "\e6b6";
}
.icon-volume-decrease:before {
	content: "\e6b7";
}
.icon-loop:before {
	content: "\e6b8";
}
.icon-shuffle:before {
	content: "\e6b9";
}
.icon-arrow-up:before {
	content: "\e6be";
}
.icon-arrow-right:before {
	content: "\e6bf";
}
.icon-arrow-down:before {
	content: "\e6c0";
}
.icon-arrow-left:before {
	content: "\e6c1";
}
.icon-arrow-up-circle:before {
	content: "\e6c2";
}
.icon-arrow-right-circle:before {
	content: "\e6c3";
}
.icon-arrow-down-circle:before {
	content: "\e6c4";
}
.icon-arrow-left-circle:before {
	content: "\e6c5";
}
.icon-tab:before {
	content: "\e6c6";
}
.icon-crop:before {
	content: "\e6c7";
}
.icon-filter:before {
	content: "\e6c8";
}
.icon-font:before {
	content: "\e6c9";
}
.icon-text-height:before {
	content: "\e6ca";
}
.icon-text-width:before {
	content: "\e6cb";
}
.icon-bold:before {
	content: "\e6cc";
}
.icon-underline:before {
	content: "\e6cd";
}
.icon-italic:before {
	content: "\e6ce";
}
.icon-strikethrough:before {
	content: "\e6cf";
}
.icon-table:before {
	content: "\e6d0";
}
.icon-paragraph-left:before {
	content: "\e6d1";
}
.icon-paragraph-center:before {
	content: "\e6d2";
}
.icon-paragraph-right:before {
	content: "\e6d3";
}
.icon-paragraph-justify:before {
	content: "\e6d4";
}
.icon-indent-increase:before {
	content: "\e6d5";
}
.icon-indent-decrease:before {
	content: "\e6d6";
}
.icon-external:before {
	content: "\e6d7";
}
.icon-embed:before {
	content: "\e6d8";
}
.icon-code:before {
	content: "\e6d9";
}
.icon-console:before {
	content: "\e6da";
}
.icon-share:before {
	content: "\e6db";
}
.icon-googleplus:before {
	content: "\e6dc";
}
.icon-googleplus-square:before {
	content: "\e6dd";
}
.icon-googleplus-circle:before {
	content: "\e6de";
}
.icon-facebook:before {
	content: "\e6df";
}
.icon-facebook-square:before {
	content: "\e6e0";
}
.icon-facebook-circle:before {
	content: "\e6e1";
}
.icon-instagram:before {
	content: "\e6e2";
}
.icon-twitter:before {
	content: "\e6e3";
}
.icon-twitter-square:before {
	content: "\e6e4";
}
.icon-twitter-circle:before {
	content: "\e6e5";
}
.icon-feed:before {
	content: "\e6e6";
}
.icon-feed-square:before {
	content: "\e6e7";
}
.icon-feed-circle:before {
	content: "\e6e8";
}
.icon-youtube:before {
	content: "\e6e9";
}
.icon-github:before {
	content: "\e6ea";
}
.icon-tumblr:before {
	content: "\e6eb";
}
.icon-tumblr-square:before {
	content: "\e6ec";
}
.icon-tux:before {
	content: "\e6ed";
}
.icon-apple:before {
	content: "\e6ee";
}
.icon-android:before {
	content: "\e6ef";
}
.icon-windows:before {
	content: "\e6f0";
}
.icon-windows8:before {
	content: "\e6f1";
}
.icon-soundcloud:before {
	content: "\e6f2";
}
.icon-soundcloud-square:before {
	content: "\e6f3";
}
.icon-skype:before {
	content: "\e6f4";
}
.icon-linkedin:before {
	content: "\e6f5";
}
.icon-stackoverflow:before {
	content: "\e6f6";
}
.icon-pinterest:before {
	content: "\e6f7";
}
.icon-pinterest-square:before {
	content: "\e6f8";
}
.icon-libreoffice:before {
	content: "\e6f9";
}
.icon-file-pdf:before {
	content: "\e6fa";
}
.icon-file-openoffice:before {
	content: "\e6fb";
}
.icon-file-word:before {
	content: "\e6fc";
}
.icon-file-excel:before {
	content: "\e6fd";
}
.icon-file-zip:before {
	content: "\e6fe";
}
.icon-file-powerpoint:before {
	content: "\e6ff";
}
.icon-file-xml:before {
	content: "\e700";
}
.icon-file-css:before {
	content: "\e701";
}
.icon-html5:before {
	content: "\e702";
}
.icon-css3:before {
	content: "\e704";
}
.icon-chrome:before {
	content: "\e705";
}
.icon-firefox:before {
	content: "\e706";
}
.icon-ie:before {
	content: "\e707";
}
.icon-opera:before {
	content: "\e708";
}
.icon-safari:before {
	content: "\e709";
}
